body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 500px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
	background-color:lightgray;
}

.red, .green, .yellow {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}
